<gim-navigation></gim-navigation>
<div class="gimli-container">
  <div class="row">
    <gim-velocity-panel></gim-velocity-panel>
    <gim-user-panel></gim-user-panel>
    <gim-retro-panel></gim-retro-panel>
  </div>

</div>
