div.user-panel {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  position:relative;
}

div.user-status {
  position:absolute;
  top: 0;
  left:75px;
}

div.HBP {
  background-color: #9ff900;
}

div.LW, div.home {
  background-color: #a9c7ff;
}

div.free {
  background-color: #ff968a;
}

img {
  width: 110px;
  height: 110px;
}
div.caption {
  display: block;
}

.activator {
  cursor: pointer;
}
