<div class="col m3 s12">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        Velocity <i class="material-icons right activator">more_vert</i>
      </span>

      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Options<i class="material-icons right">close</i></span>

      <p>options</p>
    </div>
  </div>
</div>
