<div class="col m6 s12">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        Availability <i class="material-icons right activator">more_vert</i>
      </span>

      <div>
        <span *ngFor="let user of users;">
          <div class="user-panel">
            <img class="responsive-img" src="/img/user.png">
            <span class="caption">
                <div class="chip user-status {{user.state}}">
                  {{user.state}}
                </div>
              <i>{{user.name}}</i>
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Options<i class="material-icons right">close</i></span>

      <p>options</p>
    </div>
  </div>
</div>
